<footer class="Footer">
        
    <div class="Footer__div">
        <p class="Footer__p">Las imagenes utilizadas en esta pagina son obtenidas de <a href="https://pixabay.com/es/" target="__blank" class="Footer__a-text">Pixabay</a>.</p>
        <span class="Footer__span">© Lautaro Silverii</span>
    </div>

    <div class="Footer__links">
        <h4 class="Footer__h4">Blog</h4>

        <ul class="Footer__ul">
            <li class="Footer__li"><a href="" class="Footer__a">Inicio</a></li>
            <li class="Footer__li"><a href="articles" class="Footer__a">Articulos</a></li>
            <li class="Footer__li"><a href="aboutme" class="Footer__a">Sobre mi</a></li>
            <li class="Footer__li"><a href="contact" class="Footer__a">Contactame</a></li>
        </ul>
    </div>

    <div class="Footer__networks">
        <h4 class=Footer__h4>Mis redes</h4>

        <ul class="Footer__ul">
            <li class="Footer__network">
                <i class="fa-brands fa-linkedin"></i>
                <h5 class="Footer__h5"><a href="https://linkedin.com/in/lautaro-silverii-8a5750209" class="Footer__a">Linkedin</a></h5>
            </li>
            <li class="Footer__network">
                <i class="fa-brands fa-github"></i>
                <h5 class="Footer__h5"><a href="https://github.com/Lauty128" class="Footer__a">GitHub</a></h5>
            </li>
            <li class="Footer__network">
                <i class="fa-brands fa-facebook"></i>
                <h5 class="Footer__h5"><a href="https://www.facebook.com/lautaro.silverii.5" class="Footer__a">Facebook</a></h5>
            </li>
            <li class="Footer__network">
                <i class="fa-brands fa-youtube"></i>
                <h5 class="Footer__h5"><a href="https://www.youtube.com/channel/UCVxMhUWW3RQP_U8nt8Q8mLQ" class="Footer__a">Youtube</a></h5>
            </li>
        </ul>
    </div>

</footer>